body{

font-family:Arial;
margin:0;
background:#f4f4f4;

}

/* MENU */

.menu{

background:black;
padding:15px;
text-align:center;

}

.menu a{

color:white;
margin:15px;
text-decoration:none;
font-size:18px;
font-weight:bold;

}

.menu a:hover{

color:gold;

}

/* SLIDESHOW */

.slideshow{

text-align:center;

}

.slides{

width:80%;
height:400px;
display:none;
border-radius:10px;
margin-top:10px;

}

/* TWO COLUMNS */

.container{

display:flex;
padding:20px;
gap:20px;

}

.left{

width:60%;
background:white;
padding:20px;
border-radius:10px;

}

.right{

width:40%;
background:white;
padding:20px;
border-radius:10px;

}

.right img{

width:100%;
margin-bottom:10px;
border-radius:10px;

}

/* TABLE */

table{

width:100%;
border-collapse:collapse;
margin-top:20px;

}

th{

background:black;
color:white;
padding:12px;

}

td{

padding:12px;
text-align:center;
background:white;

}

/* FORM */

form{

width:50%;
margin:auto;
background:white;
padding:20px;
border-radius:10px;

}

input, textarea{

width:100%;
padding:10px;
margin-top:10px;

}

button{

background:black;
color:white;
padding:10px;
border:none;
margin-top:10px;

}

/* FOOTER */

footer{

background:black;
color:white;
text-align:center;
padding:10px;
margin-top:30px;

}
