body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

#container{
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
}

#title{
    text-align: center;
    color: darkred;
}

.heading{
    color: darkgreen;
}

#subheading{
    color: purple;
}

.paragraph{
    font-size: 16px;
    line-height: 1.5;
}

#important{
    color: red;
    font-weight: bold;
}

.highlight{
    background-color: yellow;
    padding: 5px;
}

/* image styling */

.image{
    width: 100%;
    margin: 15px 0;
    border-radius: 10px;
}
